{% extends 'base.html' %}

{% block title %}肥猫商城-全部订单{% endblock %}
{% block left_menu_active %}order{% endblock %}
{% block right_content %}
            <h3 class="common_title2">全部订单</h3>
            {% for order in page_orders %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ order.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</li>
                <li class="col02">订单号：{{ order.order_id }}</li>
            </ul>
            <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                            {% for sku in order.sku_list %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{{ sku.default_image.url }}"></li>
                                <li class="col02"><span>{{ sku.name }}</span><em>{{ sku.price }}元</em></li>
                                <li class="col03">{{ sku.count }}</li>
                                <li class="col04">{{ sku.amount }}元</li>
                            </ul>
                            {% endfor %}
                        </td>
                        <td width="15%">{{ order.total_amount }}元<br>含运费：{{ order.freight }}元</td>
                        <td width="15%">{{ order.pay_method_name }}</td>
                        <td width="15%">
                            <a @click="oper_btn_click('{{ order.order_id }}', {{ order.status }})" class="oper_btn">{{ order.status_name }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
            <div class="pagenation">
                <div id="pagination" class="page"></div>
            </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('js/user_center_order.js') }}"></script>
<script type="text/javascript" src="{{ static('js/jquery.pagination.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {{ page_num }},
            totalPage: {{ total_page }},
            callback:function (current) {
                location.href = '/orders/info/' + current + '/';
            }
        })
    });
</script>
{% endblock %}
